<a href="https://colab.research.google.com/github/JoelGV/ManejoLimpiezaDeDatos/blob/main/PreprocesamientoDatosDiabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocesamiento de datos

En el siguiente ejercicio se realizan tareas del preprocesamiento de datos: limpieza, completar información faltante, codificación, normalización, entre otras.

Descripción de las variables:

**SystolicBPNBR**: presión sanguínea systólica 128 mm Hg.

**LDLNBR**: Relacionado con el colesterol (su concentración) 

**A1CNBR**: Es una métrica del promedio del nivel de azucar en la sangre de 2 o 3 meses. 

**ThirtyDayReadmitFLG**: Readmision hospitalaria en pacientes con diabetes(readmision no planificada en los 30 dias despues de salir del hospital, ser dado de alta).

In [ ]:
# Importa la librería de Pandas como pd
import pandas as pd

In [ ]:
# Lee el archivo diabetes.csv mediante el método de Pandas correspondiente y almacenalo en la variable dataset.
dataset = pd.read_csv('diabetes.csv')

In [ ]:
# Visualiza los registros del dataset.
dataset

     PatientEncounterID  PatientID  ... GenderFLG ThirtyDayReadmitFLG
0                     1      10001  ...         M                   N
1                     2      10001  ...         M                   N
2                     3      10001  ...         M                   N
3                     4      10002  ...         M                   N
4                     5      10002  ...         M                   N
..                  ...        ...  ...       ...                 ...
995                 996      10161  ...         F                   N
996                 997      10161  ...         F                   N
997                 998      10161  ...         F                   N
998                 999      10161  ...         F                   N
999                1000      10161  ...         F                   N

[1000 rows x 7 columns]

## Eliminamos información irrelevante

In [ ]:
# Eliminando las columnas "PatientEncounterID" y "PatientID"
dataset = dataset.drop(['PatientEncounterID', 'PatientID'], axis=1)

### Limpieza de datos

In [ ]:
# Revisamos donde hay datos con None
dataset.query('SystolicBPNBR == "None" or LDLNBR == "None" or A1CNBR == "None" or GenderFLG == "None" or ThirtyDayReadmitFLG == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
81           None   None   None         M                   Y
230          None   None   None         M                None
300          None   None   None         F                None
309          None   None   None         F                   N
314          None   None   None         F                   N
376          None   None   None         F                None
429          None   None   None         F                None
440          None   None   None         F                None
520          None   None   None         M                None
562          None   None   None         F                None
693          None   None   None         F                None
731          None   None   None         F                None
968          None   None   None         F                None

In [ ]:
dataset.SystolicBPNBR

0      167
1      153
2      170
3      187
4      188
      ...
995    172
996    145
997    138
998    139
999    112
Name: SystolicBPNBR, Length: 1000, dtype: object

In [ ]:
dataset.LDLNBR

0      195
1      214
2      191
3      135
4      125
      ...
995    209
996    151
997    136
998    138
999     79
Name: LDLNBR, Length: 1000, dtype: object

## Limpieza columna SystolicBPNBR

In [ ]:
# Arreglamos los None para la columna SystolicBPNBR para usuarios masculinos
#dataset = dataset.drop(81, axis = 0)
dataset.query('GenderFLG == "M" and SystolicBPNBR == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
81           None   None   None         M                   Y
230          None   None   None         M                None
520          None   None   None         M                None

In [ ]:
# Encontramos el promedio de la columna SystolicBPNBR para hombres
#round(data.query('GenderFLG == \'M\' and SystolicBPNBR != \'None\'')['SystolicBPNBR'].astype('int16').mean())
mSystolic = dataset.query('GenderFLG == "M" and SystolicBPNBR != "None"')['SystolicBPNBR'].astype('int16')
mean_mSystolic = sum(mSystolic)/mSystolic.count()
print(round(mean_mSystolic))

149

In [ ]:
# Actualización de datos en la columna Systolic
#data.iat[81,1] = '149'
#data.iat[230,1] = '149'
#data.iat[520,1] = '149'
dataset.loc[(dataset.GenderFLG == 'M') & (dataset.SystolicBPNBR == 'None'), 'SystolicBPNBR'] = 149
dataset.query('GenderFLG == "M" and SystolicBPNBR == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

In [ ]:
# Arreglamos los None para la columna SystolicBPNBR para usuarios femeninos
dataset.query('GenderFLG == "F" and SystolicBPNBR == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
300          None   None   None         F                None
309          None   None   None         F                   N
314          None   None   None         F                   N
376          None   None   None         F                None
429          None   None   None         F                None
440          None   None   None         F                None
562          None   None   None         F                None
693          None   None   None         F                None
731          None   None   None         F                None
968          None   None   None         F                None

In [ ]:
round(dataset.query('GenderFLG == "F" and SystolicBPNBR != "None"')['SystolicBPNBR'].astype('int16').mean())

150

In [ ]:
dataset.loc[(dataset.GenderFLG == 'F') & (dataset.SystolicBPNBR == 'None'), 'SystolicBPNBR'] = 150
dataset.query('GenderFLG == "F" and SystolicBPNBR == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

## Limpieza columna LDLNBR

In [ ]:
# Arreglamos los None para la columna LDLNBR para usuarios masculinos
dataset.query('GenderFLG == "M" and LDLNBR == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
81            149   None   None         M                   Y
230           149   None   None         M                None
520           149   None   None         M                None

In [ ]:
round(dataset.query('GenderFLG == "M" and LDLNBR != "None"')['LDLNBR'].astype('int16').mean())

139

In [ ]:
dataset.loc[(dataset.GenderFLG == 'M') & (dataset.LDLNBR == 'None'), 'LDLNBR'] = 139
dataset.query('GenderFLG == "M" and LDLNBR == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

In [ ]:
# Arreglamos los None para la columna LDLNBR para usuarios femeninos
dataset.query('GenderFLG == "F" and LDLNBR == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
300           150   None   None         F                None
309           150   None   None         F                   N
314           150   None   None         F                   N
376           150   None   None         F                None
429           150   None   None         F                None
440           150   None   None         F                None
562           150   None   None         F                None
693           150   None   None         F                None
731           150   None   None         F                None
968           150   None   None         F                None

In [ ]:
round(dataset.query('GenderFLG == "F" and LDLNBR != "None"')['LDLNBR'].astype('int16').mean())

147

In [ ]:
dataset.loc[(dataset.GenderFLG == 'F') & (dataset.LDLNBR == 'None'), 'LDLNBR'] = 147
dataset.query('GenderFLG == "F" and LDLNBR == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

## Limpieza columna ThirtyDayReadmitFLG

In [ ]:
# Arreglamos los None para la columna ThirtyDayReadmitFLG para usuarios masculinos
dataset.query('GenderFLG == "M" and ThirtyDayReadmitFLG == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
230           149    139   None         M                None
520           149    139   None         M                None

In [ ]:
dataset.query('GenderFLG == "M" and SystolicBPNBR == 149 and LDLNBR == 139')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
81            149    139   None         M                   Y
230           149    139   None         M                None
520           149    139   None         M                None

In [ ]:
dataset.loc[(dataset.GenderFLG == 'M') & (dataset.SystolicBPNBR == 149) & (dataset.LDLNBR == 139), 'ThirtyDayReadmitFLG'] = 'Y'
dataset.query('GenderFLG == "M" and ThirtyDayReadmitFLG == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

In [ ]:
# Arreglamos los None para la columna ThirtyDayReadmitFLG para usuarios femeninos
dataset.query('GenderFLG == "F" and ThirtyDayReadmitFLG == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
300           150    147   None         F                None
376           150    147   None         F                None
429           150    147   None         F                None
440           150    147   None         F                None
562           150    147   None         F                None
693           150    147   None         F                None
731           150    147   None         F                None
968           150    147   None         F                None

In [ ]:
dataset.query('GenderFLG == "F" and SystolicBPNBR == 150 and LDLNBR == 147')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
300           150    147   None         F                None
309           150    147   None         F                   N
314           150    147   None         F                   N
376           150    147   None         F                None
429           150    147   None         F                None
440           150    147   None         F                None
562           150    147   None         F                None
693           150    147   None         F                None
731           150    147   None         F                None
968           150    147   None         F                None

In [ ]:
dataset.loc[(dataset.GenderFLG == 'F') & (dataset.SystolicBPNBR == 150) & (dataset.LDLNBR == 147), 'ThirtyDayReadmitFLG'] = 'N'
dataset.query('GenderFLG == "F" and ThirtyDayReadmitFLG == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

## Limpieza columna A1CNBR

In [ ]:
# Arreglamos los None para la columna A1CNBR para usuarios masculinos
dataset.query('GenderFLG == "M" and A1CNBR == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
81            149    139   None         M                   Y
230           149    139   None         M                   Y
520           149    139   None         M                   Y

In [ ]:
dataset.query('GenderFLG == "M" and SystolicBPNBR == 149 and LDLNBR == 139')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
81            149    139   None         M                   Y
230           149    139   None         M                   Y
520           149    139   None         M                   Y

In [ ]:
dataset.query('GenderFLG == "M" and A1CNBR != "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
0             167    195    4.2         M                   N
1             153    214      5         M                   N
2             170    191      4         M                   N
3             187    135    4.4         M                   N
4             188    125    4.3         M                   N
..            ...    ...    ...       ...                 ...
972           174    119      7         M                   N
990           121    106    6.3         M                   N
991           106    131      4         M                   N
992           125     98      7         M                   N
993           112    120      5         M                   N

[482 rows x 5 columns]

In [ ]:
#Como en el query de arriba la A1CNBR es None en los tres casos, no se pueden tomar en cuenta
#el SystolicBPNBR y el LDLNBR, por eso si tomamos el promedio
round(dataset.query('GenderFLG == "M" and A1CNBR != "None"')['A1CNBR'].astype('float16').mean())

6

In [ ]:
dataset.loc[(dataset.GenderFLG == 'M') & (dataset.A1CNBR == 'None'), 'A1CNBR'] = 6.0
dataset.query('GenderFLG == "M" and A1CNBR == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

In [ ]:
# Arreglamos los None para la columna A1CNBR para usuarios femeninos
dataset.query('GenderFLG == "F" and A1CNBR == "None"')

    SystolicBPNBR LDLNBR A1CNBR GenderFLG ThirtyDayReadmitFLG
300           150    147   None         F                   N
309           150    147   None         F                   N
314           150    147   None         F                   N
376           150    147   None         F                   N
429           150    147   None         F                   N
440           150    147   None         F                   N
562           150    147   None         F                   N
693           150    147   None         F                   N
731           150    147   None         F                   N
968           150    147   None         F                   N

In [ ]:
round(dataset.query('GenderFLG == "F" and A1CNBR != "None"')['A1CNBR'].astype('float16').mean())

6

In [ ]:
dataset.loc[(dataset.GenderFLG == 'F') & (dataset.A1CNBR == 'None'), 'A1CNBR'] = 6.0
dataset.query('GenderFLG == "F" and A1CNBR == "None"')

Empty DataFrame
Columns: [SystolicBPNBR, LDLNBR, A1CNBR, GenderFLG, ThirtyDayReadmitFLG]
Index: []

## Preprocesamiento 1 hot encoding

In [ ]:
# Convertimos en numeros los valores de las columnas "GenderFLG" y "ThirtyDayReadmitFLG"
mapeoGenero = {'M': 0, 'F': 1}
mapeoTDRF = {'N': 0, 'Y': 1}
dataset = dataset.replace({'GenderFLG': mapeoGenero, 'ThirtyDayReadmitFLG': mapeoTDRF})

In [ ]:
dataset.head()

  SystolicBPNBR LDLNBR A1CNBR  GenderFLG  ThirtyDayReadmitFLG
0           167    195    4.2          0                    0
1           153    214      5          0                    0
2           170    191      4          0                    0
3           187    135    4.4          0                    0
4           188    125    4.3          0                    0

## Normalización de datos

In [ ]:
# Función para extraer el máximo y mínimo
def minmax(lista):
  valorMayor = 0
  valorMenor = lista[0]
  sizeLista = len(lista)
  for i in range(sizeLista):
    if lista[i] > valorMayor:
      valorMayor = lista[i]
    elif lista[i] < valorMenor:
      valorMenor = lista[i]
  return valorMenor, valorMayor

In [ ]:
# Normalización de las columnas
columnas = dataset.columns
for i in columnas:
  dataset[i] = pd.to_numeric(dataset[i])
  min, max = minmax(dataset[i])
  dataset[i] = (dataset[i] - min)/max
  print(min, max)

0.0 0.5
0.0 0.6772727272727272
0.0 0.5
0.0 1.0
0.0 1.0

In [ ]:
dataset.head()

   SystolicBPNBR    LDLNBR  A1CNBR  GenderFLG  ThirtyDayReadmitFLG
0           0.67  0.832215   0.050        0.0                  0.0
1           0.53  0.959732   0.250        0.0                  0.0
2           0.70  0.805369   0.000        0.0                  0.0
3           0.87  0.429530   0.100        0.0                  0.0
4           0.88  0.362416   0.075        0.0                  0.0

## Generación de nuevo archivo

In [ ]:
# Creación de un nuevo archivo csv
dataset.to_csv('diabetesProcesado.csv', index=False)